<html ng-app="app">
<head>
	<meta charset="UTF-8" />
	<title>Angular-share-every examples</title>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- end BOOTSTRAP -->

	<link rel="stylesheet" href="css/example.css">
	<link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
	<script src="../../src/angular-share-every.js"></script>
	<script src="js/example.js"></script>
</head>
<body ng-controller="appCtrl">
	<div class="container">
		<h1 class="page-header">Examples of share-every for Angular</h1>

		<h2><b>Simple example</b></h2>

		<br>
		
		<div class="panel panel-default" ng-if="true" ng-init="show = false;">
			<div class="panel-heading">
				HTML <button type="button" class="btn btn-default btn-xs spoiler-trigger" ng-click="show = !show;">show\hide</button>
			</div>
			<div class="panel-collapse collapse" ng-class="{in: show, out: !show}">
				<div class="panel-body">
				   <figure>
					<pre>
&lt;div
	share
	share-url=&quot;https://github.com/dslpp056193/angular-share-every&quot; 
	share-title=&quot;Share-every&quot; 
	share-text=&quot;Module share-every for Angular&quot; 
	share-image=&quot;https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png&quot; 
	share-tag=&quot;angular-share-every&quot;&gt;
&lt;/div&gt;</pre>
				</figure>
				</div>
			</div>
		</div>

		<br>
		
		<p>Working example (without custom styles):</p>
		<blockquote>
			<div share
				share-url="https://github\.com/dslpp056193/angular\-share\-every"
				share-title="Module share-every for angular"
				share-text="Module share-every for Angular"
				share-image="https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png"
				share-tag="angular-share-every">
			</div>
		</blockquote>

	   
		<br>
		<hr>
		<br>

		<h2><b>Simple example (with custom styles)</b></h2>

		<br>

		<div class="panel panel-default" ng-if="true" ng-init="show = false;">
			<div class="panel-heading">
				HTML <button type="button" class="btn btn-default btn-xs spoiler-trigger" ng-click="show = !show;">show\hide</button>
			</div>
			<div class="panel-collapse collapse" ng-class="{in: show, out: !show}">
				<div class="panel-body">
				   <figure>
						<pre>
&lt;div class="styled"
	share
	share-url=&quot;https://github.com/dslpp056193/angular-share-every&quot; 
	share-title=&quot;Share-every&quot; 
	share-text=&quot;Module share-every for Angular&quot; 
	share-image=&quot;https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png&quot; 
	share-tag=&quot;angular-share-every&quot;&gt;
&lt;/div&gt;</pre>
					</figure>
				</div>
			</div>
		</div>

		<br>

		<p>Working example:</p>
		<blockquote>            
			<div class="styled" share
				share-url="https://github\.com/dslpp056193/angular\-share\-every"
				share-title="Module share-every for angular"
				share-text="Module share-every for Angular"
				share-image="https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png"
				share-tag="angular-share-every">
			</div>
		</blockquote>

	   
		<br>
		<hr>
		<br>

		<h2><b>Example with custom icons</b></h2>
		
		<br>

		<p>For custom icon you can use text or any html code</p>

		<br>

		<div class="panel panel-default" ng-if="true" ng-init="show = false;">
			<div class="panel-heading">
				HTML <button type="button" class="btn btn-default btn-xs spoiler-trigger" ng-click="show = !show;">show\hide</button>
			</div>
			<div class="panel-collapse collapse" ng-class="{in: show, out: !show}">
				<div class="panel-body">
				   <figure>
						<pre>
&lt;div
	share
	share-url=&quot;https://github.com/dslpp056193/angular-share-every&quot; 
	share-title=&quot;Share-every&quot; 
	share-text=&quot;Module share-every for Angular&quot; 
	share-image=&quot;https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png&quot; 
	share-tag=&quot;angular-share-every&quot;
	share-icons=&quot;icons&quot;&gt;
&lt;/div&gt;</pre>
					</figure>
				</div>
			</div>
		</div>

		<div class="panel panel-default" ng-if="true" ng-init="show = false;">
			<div class="panel-heading">
				JS inside controller <button type="button" class="btn btn-default btn-xs spoiler-trigger" ng-click="show = !show;">show\hide</button>
			</div>
			<div class="panel-collapse collapse" ng-class="{in: show, out: !show}">
				<div class="panel-body">
				   <figure>
						<pre>
$scope.icons = { 
	vkontakte: 'share in vk',
	facebook: '&lt;img src="img/fb.png"&gt;'
};</pre>
					</figure>
				</div>
			</div>
		</div>

		<br>

		<p>Working example (also with custom styles):</p>
		<blockquote>
			<div class="styled" 
				share
				share-url="https://github\.com/dslpp056193/angular\-share\-every"
				share-title="Module share-every for angular"
				share-text="Module share-every for Angular"
				share-image="https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png"
				share-tag="angular-share-every"
				share-icons="icons">
			</div>
		</blockquote>
		
		<br>
		<hr>
		<br>

		<h2><b>Example with counter</b></h2>

		<br>

		<div class="panel panel-default" ng-if="true" ng-init="show = false;">
			<div class="panel-heading">
				HTML <button type="button" class="btn btn-default btn-xs spoiler-trigger" ng-click="show = !show;">show\hide</button>
			</div>
			<div class="panel-collapse collapse" ng-class="{in: show, out: !show}">
				<div class="panel-body">
				   <figure>
						<pre>
&lt;div
	share
	share-url=&quot;https://github.com/dslpp056193/angular-share-every&quot; 
	share-title=&quot;Share-every&quot; 
	share-text=&quot;Module share-every for Angular&quot; 
	share-image=&quot;https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png&quot; 
	share-tag=&quot;angular-share-every&quot;
	share-counter=&quot;social_counts&quot;&gt;
&lt;/div&gt;</pre>
					</figure>
				</div>
			</div>
		</div>

		<div class="panel panel-default" ng-if="true" ng-init="show = false;">
			<div class="panel-heading">
				JS inside controller <button type="button" class="btn btn-default btn-xs spoiler-trigger" ng-click="show = !show;">show\hide</button>
			</div>
			<div class="panel-collapse collapse" ng-class="{in: show, out: !show}">
				<div class="panel-body">
				   <figure>
						<pre>
$scope.social_counts = {
	twitter: 3,
	facebook: 15
};</pre>
					</figure>
				</div>
			</div>
		</div>

		<br>

		<p>Working example (also with custom styles):</p>
		<blockquote>
			<div class="styled" 
				share
				share-url="https://github\.com/dslpp056193/angular\-share\-every"
				share-title="Module share-every for angular"
				share-text="Module share-every for Angular"
				share-image="https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png"
				share-tag="angular-share-every"
				share-counter="social_counts">
			</div>
		</blockquote>

		<h2><b>Example with "alone share"</b></h2>

		<br>

		<p>
			Add "share" event for any element with certain social net.
		</p>

		<br>

		<div class="panel panel-default" ng-if="true" ng-init="show = false;">
			<div class="panel-heading">
				HTML <button type="button" class="btn btn-default btn-xs spoiler-trigger" ng-click="show = !show;">show\hide</button>
			</div>
			<div class="panel-collapse collapse" ng-class="{in: show, out: !show}">
				<div class="panel-body">
				   <figure>
						<pre>
&lt;div
	share
	share-url=&quot;https://github.com/dslpp056193/angular-share-every&quot; 
	share-title=&quot;Share-every&quot; 
	share-text=&quot;Module share-every for Angular&quot; 
	share-image=&quot;https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png&quot; 
	share-tag=&quot;angular-share-every&quot;&gt;
&lt;/div&gt;</pre>
					</figure>
				</div>
			</div>
		</div>

		<br>

		<p>Working example:</p>
		<blockquote>
			<div
				share-single="facebook"                
				share-title="Share-every"
				share-text="Модуль share-every для Angular"
				share-image="https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png"
				share-tag="Share-plugin">
				Click me for share in facebook
			</div>
		</blockquote>

		<h2><b>Example with "alone share" and counter</b></h2>

		<br>

		<p>
			Just create in controller scope any variable and put it in "share-counter" attribute.
		</p>

		<br>

		<div class="panel panel-default" ng-if="true" ng-init="show = false;">
			<div class="panel-heading">
				HTML <button type="button" class="btn btn-default btn-xs spoiler-trigger" ng-click="show = !show;">show\hide</button>
			</div>
			<div class="panel-collapse collapse" ng-class="{in: show, out: !show}">
				<div class="panel-body">
				   <figure>
						<pre>
&lt;div
	share
	share-url=&quot;https://github.com/dslpp056193/angular-share-every&quot; 
	share-title=&quot;Share-every&quot; 
	share-text=&quot;Module share-every for Angular&quot; 
	share-image=&quot;https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png&quot; 
	share-tag=&quot;angular-share-every&quot;
	share-counter=&quot;facebook_counts&quot;&gt;
&lt;/div&gt;</pre>
					</figure>
				</div>
			</div>
		</div>

		<div class="panel panel-default" ng-if="true" ng-init="show = false;">
			<div class="panel-heading">
				JS inside controller <button type="button" class="btn btn-default btn-xs spoiler-trigger" ng-click="show = !show;">show\hide</button>
			</div>
			<div class="panel-collapse collapse" ng-class="{in: show, out: !show}">
				<div class="panel-body">
				   <figure>
						<pre>
$scope.facebook_counts = 999;</pre>
					</figure>
				</div>
			</div>
		</div>

		<br>

		<p>Working example:</p>
		<blockquote>
			<div
				share-single="vkontakte"                
				share-title="Share-every"
				share-text="Модуль share-every для Angular"
				share-image="https://cdn4.iconfinder.com/data/icons/mayssam/512/share-128.png"
				share-tag="Share-plugin"
				share-counter="facebook_counts">
				Click me for share in facebook<br>
				I was clicked {{facebook_counts}} times
			</div>
		</blockquote>
		
		<br>
		<br>
</body>
</html>
